#set($conter = 1)

#set($path = '/reports/res')

<html>
		<head>
		
	<link rel='stylesheet' type='text/css' href='$path/CSS/styles.css'/>
	<script src='$path/JS/amcharts.js' type='text/javascript'></script>
	</head>
	
	<body>
	
	<table class='tableCaseSummary'>
			<tr class='trBg'>
			<th class='tdBorderSummary'>Test Execution ID</th>
			<th class='tdBorderSummary'>Test Case No.</th>
			<th class='tdBorderSummary'>Function</th>
			<th class='tdBorderSummary'>Feature</th>
			<th class='tdBorderSummary'>Test Case Name</th>
			<th class='tdBorderSummary'>Test Case Details</th>
			<th class='tdBorderSummary'>Repeat</th>
			<th class='tdBorderSummary'>Result</th>
			<th class='tdBorderSummary'>Description</th>
			<th class='tdBorderSummary'>User Defined Message</th>
			<th class='tdBorderSummary' width='5%'>Exception Message / Alert Message</th>
			<th class='tdBorderSummary' width='4.5%'>Date</th>
			<th class='tdBorderSummary'>Duration</th>
			</tr>
			#foreach($case in $SuitRslt)
			
			
			<tr>
			#if(($testSuiteResult.getSuiteId()))
			<td class='tdBorderSummaryLeft'>$testSuiteResult.getSuiteId()</td>
			#else
			<td class='tdBorderSummaryLeft'></td>
			#end

			<td class='tdBorderSummaryLeft'>$conter</td>
			<td class='tdBorderSummaryLeft'>$functionalList.getFunctionalName()</td>
			<td class='tdBorderSummaryLeft'>$testSuiteResult.getSuiteName()</td>
			<td class='tdBorderSummaryLeft'>$case.getTestCaseName()</td>
			<td class='tdBorderSummaryLeft'>$case.getTestCaseName()</td>
			<td class='tdBorderSummaryLeft'>0</td>
			<td class='tdCaseSummaryPass'>$case.getTestCaseResult()</td>
			#if(( $case.getDescription()))
			<td class='tdBorderSummaryLeft'>$case.getDescription()</td>
			#else
			<td class='tdBorderSummaryLeft'></td>
			#end
			
			<td class='tdBorderSummaryLeft'></td>
			
			#if(( $case.getErrorMsg()))
			<td class='tdBorderSummaryLeft'>$case.getErrorMsg()</td>
			#else
			<td class='tdBorderSummaryLeft'></td>
			#end
						
			<td class='tdBorderSummaryLeft'>$case.getPlanRunStartDateTime()</td>
			<td class='tdBorderSummaryLeft'>$case.getTimeDuration()</td>
			</tr>
			#set($conter = $conter + 1)
			#end
		<tr><td><p>&nbsp;</p><p>&nbsp;</p></td></tr>
</table>
	</body>
</html>